$navbar: (
    background: #212121
);

$header: (
    text: #E9EBF0,
);

$sections: ( 
    home: #e31b6d, 
    about: #ffca28, 
    services: #2196f3, 
    resume: #4caf50, 
    projects: #f44336, 
    contact: #673ab7
);

$links: ( 
    github: #6e5494,
    linkedIn: #0077b5
);