@import "variables";
@import "mixins";

.hero.is-link {
    background-color: transparent;
    color: $text-color;

    .particle-background {
        @include cover;
        position: fixed;
        top: 0;
    }
    
    .waving-hand {
        display: inline-flex;
        @include waving-hand;
    }

    .hero-foot .tabs {
        padding-bottom: 0.5em;

        .container ul li {
            a i {
                transition: color 300ms;
            }

            @each $link, $color in $links {
                &[website="#{$link}"] {
                    @include animated-underline($color);

                    &:hover { 
                        a i {
                            color: $color;
                        }
                    }
                }
            }
        }
    }
} 