@import "variables";
@import "mixins";

.navbar.is-link, .navbar-menu.is-active {
    background-color: map-get($navbar, "background");

    .navbar-end > a.navbar-item {
        color: $text-color;

        @each $section, $color in $sections {
            i {
                @include transition(color 300ms);
            }

            &[href="##{$section}"] {
                @include animated-underline($color);
                
                &:hover, &:focus, &[active] { 
                    i {
                        color: $color;    
                    }
                }
            }
        }

        &:hover, &:focus {
            background-color: lighten(map-get($navbar, "background"), 5%);
        }
    }
}